.post {
  width: 70%;
  min-height: 400px;
  margin: 0 auto;
}

.post-header{
  display: flex;
  justify-content: space-between;
}

.post-content-box {
  margin: 10px 0 0;
}

.post-img {
  border-radius: 2px;
  width: 70%;
  height: auto;
  max-height: 300px;
  max-width:400px;
  background-position: center;
  background-size: cover;
  margin: 0 10px 0 0;
  float: left;
  background-color: white;
}

.post-content-box > p {
  word-wrap: break-word;
  text-indent: 25px;
  line-height: 30px;
}

.oops-box {
  padding: 50px;
}